/* CSS Document */
.navbar-default{
	background-color: #EDEDED;
}

.navbar-default .navbar-nav > .active{
	background-color: #FFB783;
}

.navbar-default .navbar-nav > .active > a:hover{
	background-color: #FFB783;
}

.nav .navbar-nav .navbar-right{
	background-color: #EDEDED;
}

.nav .navbar-nav .navbar-right > .active > a:hover{
	background-color: #FFB783;
}

.dropdown-menu > li > a:hover {
   background-color: #FFB783;
} 

.footer{
	margin-top: 20%;
	background-color: #EDEDED;
}