@charset "UTF-8";
/* CSS Document */

.navbar-default{
	background-color: #EDEDED;
}

.navbar-default .navbar-nav > .active{
	background-color: #FFB783;
}

.navbar-default .navbar-nav > .active > a:hover{
	background-color: #FFB783;
}

.nav .navbar-nav .navbar-right{
	background-color: #EDEDED;
}

.nav .navbar-nav .navbar-right > .active > a:hover{
	background-color: #FFB783;
}

.dropdown-menu > li > a:hover {
   background-color: #FFB783;
} 

#btn-submit{
	margin-top:5%;
}

.obrigatorio {

	color: #F00;
	padding-left: 10px;

}

.footer{
	margin-top:5%;
	background-color: #EDEDED;
}

.focus{
	background-color: lightyellow;
}

.required{
	background-color: lightcoral;
}

.normal{
	background-color: white;
}

#divRetornoMsg{
	font-size: 1.1em;
	color: #F00;
	margin: 7px 0;
}
