@charset "UTF-8";
/* CSS Document */

.navbar-default{
	background-color: #EDEDED;
}

.navbar-default .navbar-nav > .active{
	background-color: #FFB783;
}

.navbar-default .navbar-nav > .active > a:hover{
	background-color: #FFB783;
}

.form-horizontal{
	margin-bottom: 20px;
}

#btn-submit{
	margin-top:5%;
}

.footer{
	margin-top:5%;
	background-color: #EDEDED;
}
