@charset "UTF-8";
/* CSS Document */

.container{
	height: 50%;
	width: 50%;
}

.form-signin{
	margin-top: 10px;
	padding: 5px;
}

.navbar-default{
	background-color: #EDEDED;
}

.navbar-default .navbar-nav > .active{
	background-color: #FFB783;
}

.navbar-default .navbar-nav > .active > a:hover{
	background-color: #FFB783;
}

.nav .navbar-nav .navbar-right{
	background-color: #EDEDED;
}

.nav .navbar-nav .navbar-right > .active > a:hover{
	background-color: #FFB783;
}

.dropdown-menu > li > a:hover {
   background-color: #FFB783;
} 

#btn-submit{
	margin-top:5%;
}

.footer{
	margin-top: 5%;
	background-color: #EDEDED;
}